<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chuman Shrestha : About</title>
  <link rel="icon" href="//chuman.com.np/assets/image/favicon.ico" type="image/png" sizes="48x48">
</head>
<style>
  iframe {
    padding: -2px;
    margin: -8px -8px;
    height: 100vh;
    width: calc(100% + 16px);
    border: none;
  }
</style>

<body>
  <iframe src="//chuman.com.np"></iframe>
</body>

</html>